[Unit]
Description=Compose Watcher
After=docker.service
BindsTo=docker.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=dispenser
Environment="RUST_LOG=info"
ExecStart=/usr/local/bin/dispenser --config /opt/dispenser/dispenser.toml
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/opt/dispenser

[Install]
WantedBy=multi-user.target
