Package: dispenser
Version: 0.3
Maintainer: ixpantia S.A.
Architecture: amd64
Description: Continously Deploy services with Docker Compose
Depends: docker-ce, docker-ce-cli, containerd.io, docker-buildx-plugin, docker-compose-plugin, gnupg2, pass
